@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.social-icons {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.social-icons.show {
  opacity: 1;
  transform: translateY(0);
}
/* Add this CSS to your stylesheet */